body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}

header{
    width: 100%;
    position: fixed;
    top:0;
    left:0
}
nav{
    background-color: orangered;
    color: white;

}
ol{
    width: 45vw;
    justify-content: space-around;
    margin: 0;
    padding: 20px;
}
li{
    display: inline;
    margin: 0px;
    padding: 15px;
    list-style-type: none;
    text-decoration: none;
    font-weight: bold;
    font-size: 2rem;
}
main{
    width: 75%;
    margin: 5px auto;
}
img{
    position: absolute;
    right: 30px;
    top: 5px;
}
footer{
    width: 100%;
    position: fixed;
    bottom:0;
    left:0
}